  /* Card */
.products{ 
    margin-top: 10rem;
}
@media (min-width: 720px) {
    .products{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 3rem;
    }
}
.card-product{
    border-radius: 1rem;
    overflow: hidden;
    width: 30rem;
    height: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
}
.product-image{
    border-radius: 1rem;
}
.product-name{
    font-size: 2rem;
    color: var(--morado5);
    padding: .5rem;
}
.product-description{
    font-size: 1.5rem;
    padding: .5rem;
    color: var(--morado4);
}
.product-buttons{
    display: flex;
    justify-content: flex-end;
    padding: .5rem;
    gap: 1rem;
}
.btn{
    color: var(--blanco1);
    padding: .1rem 1rem;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
}
.btn-more{
    background-color: var(--negro);
}
.add-cart{
    background-color: var(--morado3);
}